

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 



.FAQ {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid #60D7AC;
    color: white;
    background: #60D7AC;
    
    font-size: 40px;


}    
.div .faqs{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.faq, .faqopen{

    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;   
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.faqs .faq, .faqs .faqopen{
    margin-left: 0;
    padding: 0;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.faqs .faq .faq-question, .faqs .faqopen .faq-question{
    
    font-size: 20px;
    padding-right: 20px;
    text-shadow: #5D3EDE  0 0px, #5D3EDE 0 2px 0px, #5D3EDE -1px 0 0px, #5D3EDE -1px 0px;
    font-size: 25px;
    
   

}
.faqs .faq .faq-answer {
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;
    transition: all .4 ease;
    text-shadow: #60D7AC 1px 0 0px, #60D7AC 0 1px 0px, #60D7AC -1px 0 0px, #60D7AC 0 -1px 0px;
    text-align: center;
}
.faqs .faqopen .faq-question{
    margin-bottom: 15px;
    text-align: center;

}


